.object-view {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: default;
  user-select: none;
}

.object-view-header {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.object-view-span {
  height: 25px;
  font-size: 20px;
}

.object-view-header:hover {
  transform: scale(1.02);
}

.object-view-name {
  color: #36454f;
  font-weight: 600;
  background-color: #f6f6f6;
  padding: 12px 0 12px 10px;
  border-radius: 10px;
}

.object-view-value {
  white-space: nowrap;
  color: #708090;
  font-weight: 500;
  background-color: #f6f6f6;
  padding: 12px 10px;
  border-radius: 10px;
}
